<div [ngClass]="{'selected': selected}" class="song-component-container">
	<div class="song-position">
		<span id="song-id">{{position}}</span>
	</div>
	<div class="song-container">
		<div class="song-info">
			<span id="song-name"> {{song.name}}</span>
			<span id="artist-name">{{song.artist}}</span>
		</div>
		<div class="song-data">
			<span id="songEntryDate">{{song.entryTopDate}}</span>
			<span id="votes"> {{song.votes}}</span>
		</div>
	</div>
	<div class="song-buttons">
        <button type="button" class="button"  (click)="onEditClick(song.id!)" id="edit">Edit</button>
        <button type="button" class="button" (click)="onDelete(song)" id="delete" >Delete</button>
		<button type="button" class="button" (click)="voteSong(song)" id="vote">Vote</button>
	</div>
</div>

