$color:#c70c6f;
@media (min-width:1023px){
    #song-form {
        margin-left:auto; margin-right:auto;
        display:flex;
        width: 100vw;
        align-items: center;
        margin-top:1.5rem;
        margin-bottom:1.7rem;
        .search {
            display: inherit;
            flex-direction: column;
            .searchInput {
                display:inherit;
                margin: 10px;
                margin-left:30px;
                width:20vw;
                #search {
                    border-radius:20px;
                    height:33px;
                    width: 220px;
                    margin-left:5px;
                    border:none;
                }
                #searchBtn {
                    display:block;
                    flex-wrap: wrap;
                    width: 33px;
                    height: 33px;
                    border-radius: 50%;
                    margin-left: 15px;
                    align-content: center;
                    text-align:center;
                    line-height: 31px;
                    background-color:$color;
                    color:white;
                    border:none;
                    font-size:smaller;
                }
            }
        }
    }
    ::placeholder {
        color:$color;
    }
    .formContainer{
        display: flex;
        flex-direction: row;
        .inputContainer {
            display:inherit;
            flex-direction: row;
            width: 50vw;
            justify-content: flex-end;
            margin-left:50px;
            .song {
                display: inherit;
                flex-direction: column;
                margin:10px;
            }
            .artist {
                display: inherit;
                flex-direction: column;
                margin:10px;
            }
            .formInput {
                display: inherit;
                margin: 10px;
                .formControl {
                    width: 230px;
                    height: 33px;
                    border-radius:20px;
                    border:none;
                }
            }
        }
        .buttons {
            display:inherit;
            justify-content: flex-end;
            width:20vw;
            margin-left:40px;
            margin-top:15px;
            .button {
                margin:5px;
                width:120px;
                height: 31px;
                border-radius:20px;
                border:none;
                background-color: $color;
                color:white;
            }
            #submit {
                margin-right:15px;
            }
        }
    }
    .inputError {
        color:white;
        display: flex;
        flex-direction: column;
        margin:10px;
        font-size:17px;
    }
}
    @media (min-width:768px) and (max-width:1022px){
        #song-form {
            margin-left:auto; margin-right:auto;
            flex-direction: column;
            display:flex;
            width: 100vw;
            align-items: center;
            margin-top:1.5rem;
            margin-bottom:1.7rem;
            .search {
                display: inherit;
                flex-direction: column;
                .searchInput {
                    display:inherit;
                    margin: 10px;
                    #search {
                        border-radius:20px;
                        height:33px;
                        width: 220px;
                        border:none;
                    }
                    #searchBtn {
                        display:block;
                        flex-wrap: wrap;
                        width: 33px;
                        height: 33px;
                        border-radius: 50%;
                        margin-left: 15px;
                        align-content: center;
                        text-align:center;
                        line-height: 31px;
                        background-color:$color;
                        color:white;
                        border:none;
                        font-size:smaller;
                    }
                }
            }
        }
        ::placeholder {
            color:$color;
        }
        .formContainer {
            display: flex;
            flex-direction: row;
            .inputContainer {
                display:inherit;
                flex-direction: row;
                justify-content: flex-start;
                .song {
                    display: inherit;
                    flex-direction: column;
                }
                .artist {
                    display: inherit;
                    flex-direction: column;
                }
                .formInput {
                    display: inherit;
                    margin: 10px;
                    .formControl {
                        width: 230px;
                        height: 33px;
                        border-radius:20px;
                        border:none;
                    }
                }
            }
            .buttons {
                display:inherit;
                justify-content: flex-end;
                margin-left:30px;
                margin-top:7px;
                .button {
                    margin:5px;
                    width:120px;
                    height: 31px;
                    border-radius:20px;
                    border:none;
                    background-color: $color;
                    color:white;
                }
                #submit {
                    margin-right:15px;
                }
            }
        }
        .inputError {
            color:white;
            display: flex;
            flex-direction: column;
            margin:10px;
            font-size:17px;
        }
    }
    @media (max-width:767px){
        #song-form {
            display:flex;
            flex-direction: column;
            margin-top:1rem; margin-bottom: 0.5rem;
            .search {
                display:inherit;
                flex-direction: column;
                .searchInput {
                    display:inherit;
                    flex-direction: row; 
                    #search {
                        height:33px;
                        width: 170px;
                        border-radius: 20px;
                        margin-left:5px;
                        // margin-bottom: 5px;
                        border: none;
                    }
                    #searchBtn {
                        display:block;
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        margin:5px;
                        background-color:$color;
                        color:white;
                        border:none;
                        font-size:smaller;
                    }
                }
            }
        }
        ::placeholder {
            color:$color;
        }
        .inputError {
            color:white;
            display: inherit;
            flex-direction: column;
            margin-left:5px;
            font-size:15px;
        }
        .formContainer{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            .inputContainer {
                display:inherit;
                flex-direction: column;
                margin-right:auto;
                margin-left: 5px;
                .song {
                    display: inherit    ;
                    flex-direction: column;
                    margin-bottom:5px;
                }
                .artist {
                    display: inherit;
                    flex-direction: column;
                    margin-bottom:5px;
                }
                .formControl {
                    width: 170px;
                    height: 33px;
                    border-radius:20px;
                    border:none;
                }
            }
            .buttons {
                display: flex;
                flex-direction: column;
                height:77px;
                justify-content: space-between;
                .button {
                    width:120px;
                    height: 33px;
                    border-radius:20px;
                    border:none;
                    background-color: $color;
                    color:white;
                    margin:5px;
                }
            }    
        }
    
       
    }