<form id="song-form">
  <div class="search">
    <div class="searchInput">
        <input type="search" [(ngModel)]="search" #searchInput (input)="onInput()" name="searchInput" title="searchInput" id="search" placeholder="&nbsp;&nbsp;Search...">
        <button type="submit" (click)="findSong(search)" id="searchBtn">Go</button>
    </div>
    <div class="inputError" *ngIf="inputErrors[0].searchError">
      Please provide a valid search item.
    </div>
  </div>
  <div class="formContainer">
    <div class="inputContainer">
      <div class="song">
        <div class="formInput">
          <input type="text" #songInput name="name" (input)="onInput()" [(ngModel)]="name" title="song-name" class="formControl" id="songName" placeholder="&nbsp;&nbsp;Song name...">
        </div>
        <div class="inputError" *ngIf="inputErrors[0].songError">
          Please provide a valid song name.
        </div>
      </div>
      <div class="artist">
        <div class="formInput">
          <input type="text" #artistInput name="artistName" (input)="onInput()" [(ngModel)]="artist" title="artist-name"  class="formControl" id="artistName"  placeholder="&nbsp;&nbsp;Artist name...">
        </div>
        <div class="inputError" *ngIf="inputErrors[0].artistError">
          Please provide a valid artist name.
        </div>
      </div>
    </div>
    <div class="buttons">
        <button type="submit"  class="button" [hidden]="!isEditMode" (click)="onEditSong()">Apply</button>
        <button type="submit" id="submit" class="button" (click)="onSubmit()">Add song</button>
    </div> 
  </div> 
  </form>