<form id="song-form" ng-Submit="onSubmit()">
    <div class="form-group">
      <label for="artist-name">Artist name: </label>
      <input type="text" #artistInput name="artist" [(ngModel)]="artist" title="artist-name" class="form-control" id="artist-name"  placeholder="artist name...">
    </div>
    <div class="form-group">
      <label for="song-name">Song name: </label>
      <input type="text" #songInput name="name" [(ngModel)]="name" title="song-name" class="form-control" id="song-name" placeholder="song name...">
    </div>
    <div class="buttons">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
        <button type="submit" (click)="submitSearchSong(artist, name)" class="btn btn-primary">Search</button>
        <button type="submit" (click)="onEditSong()" class="btn btn-primary">Apply changes</button>
    </div>  
  </form>
 