 @media (min-width:1023px) {
 .header {
    display:flex;
    flex-direction: row;
    width:96vw;
    height:35px;
    color:white;
    margin-bottom:1rem;
    margin-left: auto; margin-right: auto;
    justify-content: space-between;
    #position {
        display: inherit;
        justify-content: center;
        width: 10vw;
    }
    .titles {
      display:inherit;
      flex-direction: row;
      justify-content: space-between;
      width:60vw;
      margin-left: 40px;
      #name {
        display: inherit;
        justify-content: center;
        width: 15vw;
        margin-left: 15px;
      }
      #artist {
        display: inherit;
        justify-content:right;
        width: 15vw;
        margin-left:20px;
      }
      #date {
        display: inherit;
        justify-content: right;
        width: 15vw;
        margin-left:65px;
      }
      #votes {
        display: inherit;
        justify-content: right;
        width: 15vw;
        margin-right:17px;
      }
   }
    .buttons {
      display: inherit;
      justify-content: center;
      width: 20vw;
    }
 }
}
@media (min-width:768px) and (max-width:1022px){
  .header {
    display:flex;
    flex-direction: row;
    width:96vw;
    height:35px;
    color:white;
    margin-left: auto; margin-right: auto;
    justify-content: space-between;
    #position {
      display: inherit;
      justify-content: center;
      width: 10vw;
   }
   .titles {
    display:inherit;
    flex-direction: row;
    justify-content: space-between;
    width:60vw;
    margin-left: 40px;
    #name {
      display: inherit;
      justify-content: center;
      width: 15vw;
      margin-left: 15px;
    }
    #artist {
      display: inherit;
      justify-content:right;
      width: 15vw;
      margin-left:20px;
    }
    #date {
      display: inherit;
      justify-content: right;
      width: 15vw;
      margin-left:65px;
    }
    #votes {
      display: inherit;
      justify-content: right;
      width: 15vw;
      margin-right:17px;
    }
 }
  .buttons {
    display: inherit;
    justify-content: center;
    width: 20vw;
  } 
 }
}
@media (max-width:767px){
   .header {
      display:none;
   }
}

 
