.btn {
    border-radius:7px;
    border:1px solid black;
    height:2.1rem;
    width:6rem;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}