@media (min-width:1023px){
    body {
        background:url(./assets/1.jpg);
    }
    #songContainer {
        background-color: white;
        width:96vw;
        margin:auto;
        border-radius: 10px;
        padding-top:10px; padding-bottom:10px; 
    }
}

@media (min-width:768px) and (max-width:1022px){

    body {
        background:url(./assets/1.jpg);
    }
    #songContainer {
        background-color: white;
        width:96vw;
        margin:auto;
        border-radius: 10px;
        padding-top:10px; padding-bottom:10px; 
    }
}
@media (max-width:767px){
    body {
        background:url(./assets/1.jpg);
    }
    #songContainer {
        background-color: white;
        width:96vw;
        margin:auto;
        border-radius: 10px;
        padding-top:10px; padding-bottom:10px; 
    }
}